# DS-SF-32 | Homework 02: The `pandas` Library

In this homework, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`).

In [3]:
import os
import pandas as pd

# TODO

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [4]:
df = pd.read_csv(os.path.join('/Users/richardgraham-bruno/DataScience/DS_32_HW/ozone.csv'))

> ## Question 2.  Display a few lines of the dataset to the screen.

In [24]:
print df

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
3     18.0    313.0  11.5    62      5    4
4      NaN      NaN  14.3    56      5    5
..     ...      ...   ...   ...    ...  ...
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

> ## Question 3.  How many observations (i.e., rows) are in this dataset?

In [25]:
153

153

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [47]:
df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Temp         int64
Month        int64
Day          int64
dtype: object

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [48]:
6

6

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [17]:
print df[:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [26]:
print df[151:]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [51]:
print df[47:]

     Ozone  Solar.R  Wind  Temp  Month  Day
47    37.0    284.0  20.7    72      6   17
48    20.0     37.0   9.2    65      6   18
49    12.0    120.0  11.5    73      6   19
50    13.0    137.0  10.3    76      6   20
51     NaN    150.0   6.3    77      6   21
..     ...      ...   ...   ...    ...  ...
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[106 rows x 6 columns]

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [61]:
df.loc[:, "Ozone"]

0      41.0
1      36.0
2      12.0
3      18.0
4       NaN
       ...
148    30.0
149     NaN
150    14.0
151    18.0
152    20.0
Name: Ozone, dtype: float64

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [56]:
df.mean(1)

0      51.900000
1      40.166667
2      42.600000
3      68.916667
4      20.075000
         ...
148    55.816667
149    54.240000
150    55.216667
151    45.166667
152    60.250000
dtype: float64

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [ ]:
# TODO

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [ ]:
# TODO

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [ ]:
# TODO

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [ ]:
# TODO