# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [3]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('..', '..', 'dataset', 'ozone.csv'))

In [12]:
print data

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
3     18.0    313.0  11.5    62      5    4
4      NaN      NaN  14.3    56      5    5
5     28.0      NaN  14.9    66      5    6
6     23.0    299.0   8.6    65      5    7
7     19.0     99.0  13.8    59      5    8
8      8.0     19.0  20.1    61      5    9
9      NaN    194.0   8.6    69      5   10
10     7.0      NaN   6.9    74      5   11
11    16.0    256.0   9.7    69      5   12
12    11.0    290.0   9.2    66      5   13
13    14.0    274.0  10.9    68      5   14
14    18.0     65.0  13.2    58      5   15
15    14.0    334.0  11.5    64      5   16
16    34.0    307.0  12.0    66      5   17
17     6.0     78.0  18.4    57      5   18
18    30.0    322.0  11.5    68      5   19
19    11.0     44.0   9.7    62      5   20
20     1.0      8.0   9.7    59      5   21
21    11.0    320.0  16.6    73      5   22
22     4.0     25.0   9.7    61      5   23
23    32.0     92.0  12.0    61      5   24
24     NaN     66.0  16.6    57      5   25
25     NaN    266.0  14.9    58      5   26
26     NaN      NaN   8.0    57      5   27
27    23.0     13.0  12.0    67      5   28
28    45.0    252.0  14.9    81      5   29
29   115.0    223.0   5.7    79      5   30
..     ...      ...   ...   ...    ...  ...
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4
127   47.0     95.0   7.4    87      9    5
128   32.0     92.0  15.5    84      9    6
129   20.0    252.0  10.9    80      9    7
130   23.0    220.0  10.3    78      9    8
131   21.0    230.0  10.9    75      9    9
132   24.0    259.0   9.7    73      9   10
133   44.0    236.0  14.9    81      9   11
134   21.0    259.0  15.5    76      9   12
135   28.0    238.0   6.3    77      9   13
136    9.0     24.0  10.9    71      9   14
137   13.0    112.0  11.5    71      9   15
138   46.0    237.0   6.9    78      9   16
139   18.0    224.0  13.8    67      9   17
140   13.0     27.0  10.3    76      9   18
141   24.0    238.0  10.3    68      9   19
142   16.0    201.0   8.0    82      9   20
143   13.0    238.0  12.6    64      9   21
144   23.0     14.0   9.2    71      9   22
145   36.0    139.0  10.3    81      9   23
146    7.0     49.0  10.3    69      9   24
147   14.0     20.0  16.6    63      9   25
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

Print the column names of the dataset to the screen, one column name per line.

In [14]:
print data[0]

KeyError: 0

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [10]:
data [:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [ ]:
2

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [11]:
print data [:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

What is the value of Ozone in the 47th row?

In [18]:
data [47:]

     Ozone  Solar.R  Wind  Temp  Month  Day
47    37.0    284.0  20.7    72      6   17
48    20.0     37.0   9.2    65      6   18
49    12.0    120.0  11.5    73      6   19
50    13.0    137.0  10.3    76      6   20
51     NaN    150.0   6.3    77      6   21
52     NaN     59.0   1.7    76      6   22
53     NaN     91.0   4.6    76      6   23
54     NaN    250.0   6.3    76      6   24
55     NaN    135.0   8.0    75      6   25
56     NaN    127.0   8.0    78      6   26
57     NaN     47.0  10.3    73      6   27
58     NaN     98.0  11.5    80      6   28
59     NaN     31.0  14.9    77      6   29
60     NaN    138.0   8.0    83      6   30
61   135.0    269.0   4.1    84      7    1
62    49.0    248.0   9.2    85      7    2
63    32.0    236.0   9.2    81      7    3
64     NaN    101.0  10.9    84      7    4
65    64.0    175.0   4.6    83      7    5
66    40.0    314.0  10.9    83      7    6
67    77.0    276.0   5.1    88      7    7
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
70    85.0    175.0   7.4    89      7   10
71     NaN    139.0   8.6    82      7   11
72    10.0    264.0  14.3    73      7   12
73    27.0    175.0  14.9    81      7   13
74     NaN    291.0  14.9    91      7   14
75     7.0     48.0  14.3    80      7   15
76    48.0    260.0   6.9    81      7   16
..     ...      ...   ...   ...    ...  ...
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4
127   47.0     95.0   7.4    87      9    5
128   32.0     92.0  15.5    84      9    6
129   20.0    252.0  10.9    80      9    7
130   23.0    220.0  10.3    78      9    8
131   21.0    230.0  10.9    75      9    9
132   24.0    259.0   9.7    73      9   10
133   44.0    236.0  14.9    81      9   11
134   21.0    259.0  15.5    76      9   12
135   28.0    238.0   6.3    77      9   13
136    9.0     24.0  10.9    71      9   14
137   13.0    112.0  11.5    71      9   15
138   46.0    237.0   6.9    78      9   16
139   18.0    224.0  13.8    67      9   17
140   13.0     27.0  10.3    76      9   18
141   24.0    238.0  10.3    68      9   19
142   16.0    201.0   8.0    82      9   20
143   13.0    238.0  12.6    64      9   21
144   23.0     14.0   9.2    71      9   22
145   36.0    139.0  10.3    81      9   23
146    7.0     49.0  10.3    69      9   24
147   14.0     20.0  16.6    63      9   25
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[106 rows x 6 columns]

How many missing values are in the Ozone column of this data frame?

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

What is the mean of "Temp" when "Month" is equal to 6?

What was the maximum ozone value in the month of May (i.e. Month = 5)?

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas